# blogtools sample configuration file.

# This is your domain, no protocol specified.
domain: example.com

# This is the subdirectory of your site where your blog lives.
subdir: /

# This is the correct response to your CAPTCHA. Case sensitive.
captcha: example

# This is your timezone, in hours, + or - from UTC.
timezone: +8

# These govern the length, in posts, of your front page and atom feed.
frontlength: 5
feedlength: 10
